
.main-content{
    width: 100%;
    height: auto;
    

     
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
   
}

.tab-btn,
.tab-content .card .button{
    background-color: transparent;
    border: 2px solid #D98324;
    color: var(--text);
    border-radius: 35px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}
.tab-content .card .button{
   
    margin-top: 35px;
}
.tab-btn:hover{
    color:var(--footer);
    text-shadow: 0 0 9px rgba(255, 215, 0, 0.8);;
      cursor: pointer;
      background-color: #d98224;
}

.tab-content{
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
    width: 100%;
 
    
   
}

.main-content .tab-content img{
     width: 200px;
    height: 200px;
    object-fit: cover; 
    background-color: bisque;
    border-radius: 40px;
    margin: 10px;
} 
 .tab-content .card{
    min-width: 30%;
    height: fit-content;
   background: rgba(255, 255, 255, 0.02);
   box-shadow: 0 0 9px rgba(255, 215, 0, 0.8);
  border-radius: 20px;
    margin: 25px;
    display: flex;
    flex-direction: row; 
    
     
}
.tab-content .card:hover{
    transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 10px rgba(225, 215, 0, 0.8);
}

.tab-content .card .card-content{
    margin: 20px;
    padding-top: 10px;
}


.tab-content .card .button:hover{
  color:var(--footer);
    text-shadow: 0 0 9px rgba(255, 215, 0, 0.8);;
      cursor: pointer;
      background-color: #d98224;  
}

/* Second content */
.second{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap:20px;
    margin-bottom: 70px;
    
}
 .second-content{
   width: 400px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
        position: relative;
 }
   .second-content img {
        min-width: 300px;
        height: auto;
      } 
    .second-content  div:hover { 
        opacity: 1;
      }
     .second-content div {
        min-width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        transition: all 0.3s;
      }
      .second-content h2 {
        color: var(--text);
        font-size: 2rem;
        text-align: center;
      }
     .second-content div p {
        color: var(--text);
        font-size:1rem;
        text-align: center;
      }

